@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #ffffffd6;
}
  
.logo{
    font-size: 2em;
    color: #333;
    user-select: none;
}
  
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 30px;
    background: transparent;
    border: 2px solid #737373;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
  
.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #737373;
}
  
.search-bar input::placeholder {
    color: #737373;
}
  
.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.search-bar .icon {
    font-size: 22px;
    color: #737373;
    margin: 0 10px;
} 
  
.navigation a {
    position: relative;
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
  
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #333;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
  
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .5s;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
  
.navigation .btnLogin-popup:hover {
    background: #333;
    color: #fff;
}

.icon-ig {
    position: absolute;
    color: #333;
    left: 65px;
    font-size: 2.3em;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
  background-size: cover;
  background-position: center;
}  

.img-perfil {
    width: 150px; 
    height: 150px; 
}

.historia-img {
    max-width: 100px; 
    height: auto; 
}
 

.nav{
    min-width: 1024px;
    max-width: 1400;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: solido #dbdbdb 1px;
    background: #fff;    
}
.nav-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.cont-input{
    height: 30px;
    border: solid 1px #dbdbdb;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 5px;

}
.cont-input input{
    border: 0;
    outline: none ;
    background: #fafafa;
}

.perfil-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.perfil-container img{
    margin-top: 80px;
    height: 150px;
    width:150px ;
    border-radius: 50%;
    margin-left: 50px;
}
.contenedor-cabezera{
    margin-top: 50px;
    margin-left: 100px;   
}

.cabezera1 .editar {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    margin-left: 30px;
    transition: .5s;
}
  
.cabezera1 .editar:hover {
    background: #333;
    color: #fff;
}

.cabezera2{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 15px;
}
.cabezera2 p {
    margin-right: 10px;
}
.cabezera3 h2,
.cabezera3 .p-ciencia,
.cabezera3 .p-creador,
.cabezera3 .pp-dev,
.cabezera3 .p-suscribe{
    font-size: 16px;
    margin-bottom: 5px;
}

.cabezera3 .p-ciencia{
    color: #a2a2a2;
}

.cabezera3 .p-link{
    text-align: none;
    color: #1e4e7c;
}

.linea{
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: #dbdbdb;
}

.main-nav{
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 15px;
}

.main-nav a{
    color: 333;
    text-decoration: none ;
    font-size: 13px;
    align-items: center;
    display: flex;
    text-align: center;
}

main{
    margin: auto;
    margin-top: 60px;
}

.gallery {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.gallery p {
    text-align: center;
}

.subir {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding-top: 20px;
}

.historias {
    margin-top: 20px;
    text-align: center;
    padding-left: 130px;
}


.upload-section button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    transition: .5s;
}
  
.upload-section button:hover {
    background: #333;
    color: #fff;
}

.subir .icon-plus{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    transition: .5s;
  }

.subir .icon-plus:hover {
    background: #333;
    color: #fff;
}
  
.publica {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 15px;
}

.publica .h2{
    display: flex;
    align-items: center;
    text-align: center;
}

.publica .icon-publica {
    width: 50px;
    color: #333;
    font-size: 2em;
    align-items: center;
}

