<div class="perfil-container">
    <img class="img-perfil" src="iconos/messi.jpeg" alt="Messi">
    <div class="contenedor-cabezera" >
        <br>
        <div class="cabezera2" >
            <p id="fotos"></p>
            <p><b>395</b> Amigos </p>
            <p><b>619</b> Solicitudes </p>
        </div>
        <div class="cabezera3" >
            <h2>Lionel Andrés Messi</h2>
            <p class="p-ciencia"> Tecnología e Ingeniería</p>
            <p class="p-creador" > Creador de videos  </p>
            <p class="p-dev" > HTML, CSS, JAVASCRIPT</p>
            <p class="p-suscribe" >Suscríbete a mi canal</p>
            <a class="p-link" href="https://www.youtube.com/&#64;UdeMedellin_">https://www.youtube.com/&#64;UdeMedellin_</a>
        </div>
        <br>
        <div class="cabezera1" >
            <button class="editar">Editar perfil</button>
        </div>
    </div>
</div>