<header>
    <h2 class="logo"> InstaPic </h2>
    <span class="icon-ig">
        <ion-icon name="logo-instagram"></ion-icon>
    </span>
    <form action="#" class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit"><ion-icon name="search"></ion-icon></button>
    </form>
    <nav class="navigation">
        <a href="#"><ion-icon name="home"></ion-icon></a>
        <a href="#"><ion-icon name="chatbubble-ellipses"></ion-icon></a>
        <a href="#"><ion-icon name="people"></ion-icon></a>
        <a href="#"><ion-icon name="heart"></ion-icon></a>
        <button class="btnLogin-popup">Cerrar Sesión</button>
    </nav>
</header>

